* {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.heavy {
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

#contentHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 564px;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    border-radius: 10px;
}

#iconImage {
    margin-top: 30px;
    width: 175px;
}

#nameHolder {
    font-size: 30pt;
}

#profileSplitter {
    margin: 20px;
    width: 70%;
}

#profileHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.75);
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.material-icons-profile {
    font-size: 15pt !important;
    vertical-align: -4px;
}

#material-icons-holder {
    text-align: center;
    margin-right: 10px;
}

#profileText {
    color: rgba(0, 0, 0, 0.75);
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#copyEmailAddr:hover {
    text-decoration: underline;
    font-weight: 700;
}

#buttonHolder {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#websiteBtnHolder {
    display: flex;
    align-items: center;
}

.webLinkBtn {
    width: 130px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 12pt;
    font-weight: 300;
    margin: 5px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.75) solid;
    user-select: none;
    transition: all .25s;
}

.webLinkBtn:hover {
    border: 1px rgba(0, 0, 0, 0.5) solid;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.material-icons-weblink {
    font-size: 17.5pt !important;
    vertical-align: -5px;
}